* {
    box-sizing: border-box;
}
body{   
    padding: 0;
    margin: 0;
    background-color: #56ade4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/* header */
.logobar{
    background-color: #f0f5f8;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 70px;
}
.logobar a{
    color: #0f65af;
    text-decoration: none;
    font-size:normal normal normal;
}
.logobar i{
    color: #0f65af;
}
.bold{
    font-weight: bold;
    color: #0f65af;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
.logobar #logo {
    float: left;    
}
.logobar #logo h1{
    margin: 0;
}
.logobar nav{
    float: right;
    margin-top: 30px;
}
/*               menu bar       */
/* ---------------------------- */
.menubar{
    background-color: #0f65af;
    min-height: 50px;
    color: white;
    font-size: 90%;
}
.menubar a{
    color: white;
    font-weight: bold;
}
.menu{
    float: left;
    margin-top: 13px;
    
}
#searchcart {
    float: right;
    width: 50%;
    display: flex;
}
.search{
    width: 70%;
    display: flex;
}
.cartcol{
    width: 30%;
    margin-top: 13px;
    
}
.frmSearch{
    width: 80%;
}
#suggesstion-box{    
    background-color: white;
    color: #0f65af;
    width: 70%;
}
#suggesstion-box{
    display: none;
}
#searchcart input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    border: none;  
    margin-right: 0;  
    width: 100%;
    
}  
#searchcart input[type=text]:focus {
    outline: none;
}
#searchcart button {  
    padding: 6px ;
    margin-left: 0;
    margin-top: 8px;
    margin-right: 16px;
    background:white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    color: #0f65af;   
    margin-bottom: 2%;
  }
  .srhbtn{
    width: 20%;
  }
  @media screen and (max-width: 990px) {
   
    .cartcol{
        width: 30%;
        display: flex;
    }
    /* .logobar nav a{
        display: none;
    } */
    .displynon{
        display: none;
    }
    header li{
        display: inline;
        padding: 0 2px 0 2px;
    }
}
@media screen and (max-width: 790px) {
    #searchcart {
        float: left;
        width: 50%;
        display: flex;
    }
}