.wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.wrap{
    padding-left: 20px;
    padding-right: 20px;
}
.ad-block {
   width: 50%;
}
.ad-block img{
    width: 100%;
 }